<div class="main">
  <div class="main__header">
    <div class="main__header--room-name">RoomName</div>
    <div class="main__header--destroy-room-box">
      <a class="main__header--destroy-room-link" href="https://www.google.co.jp/">
        チャットを終了する
      </a>
    </div>
  </div>
  <div class="main__chat-log">
    <% 10.times do |i| %>
      <div class="main__chat-log--container">
        <div class="main__chat-log--upper">
          <div class="main__chat-log--user-name">UserName</div>
          <div class="main__chat-log--post-date">2020/3/31(Wed) 12:43:30</div>
        </div>
        <div class="main__chat-log--message">
          MESSAGE<%= i+1 %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="main__chat-input">
    <div class="main__chat-input--message-form">
      <input class="main__chat-input--message-input" placeholder="Type a message">
      <label class="main__chat-input--message-image">
        <%# <span class="image-file">画像</span> %>
        画像
        <input type="file" class="main__chat-input--message-image-hidden">
      </label>
    </div>
    <input class="main__chat-input--send-button" type="submit" value="送信">
  </div>
</div>