<div class="side-bar">
  <div class="side-bar__header">
    <div class="side-bar__header--user-name">
      <%= link_to current_user.name, edit_user_path(current_user.id)%>
    </div>
    <%= link_to 'チャットを作成する', new_room_path, class: "side-bar__header--gen-room" %>
  </div>
  <div class="side-bar__room-list">
    <% current_user.rooms.each do |room| %>
      <div class="side-bar__room-list--room">
        <%= link_to room.name, "https://www.google.com/", class: "side-bar__room-list--room-name" %>
      </div>
    <% end %>
  </div>
</div>